@using CustomerTracker.Web.Utilities
@{
    Layout = null;
}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Ansayfa", "Index", "Material", null, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown dropdown-toggle" data-toggle="dropdown">Genel Tanımlamalar <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Müşteri", "Customer", "CrudView")</li>
                        <li>@Html.ActionLink("Uzak Bağlantı", "RemoteMachine", "CrudView")</li>
                        @*   <li><a href="#">Uzak Bağlantı Tipi</a></li>
                        <li><a href="#">İletişim(Bağlantı)</a></li>*@
                        <li>@Html.ActionLink("Departman", "Department", "CrudView")</li>
                        @*<li><a href="#">Ürün</a></li>*@
                        <li>@Html.ActionLink("Özel veri", "DataMaster", "CrudView")</li>
                        <li class="divider"></li>
                        @*<li><a href="#">Sistem Kullanıcıları</a></li>*@
                        <li>@Html.ActionLink("Dosya Yükleme", "Index", "FileUpload")</li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button class="btn btn-default glyphicon glyphicon-search">Ara</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

