@model ICollection<Microsoft.Web.WebPages.OAuth.AuthenticationClientData>
@{
    Layout = null;
}

<div class="row mg-btm">
    <div class="col-md-12">
        <button href="@Url.Action("ExternalLogin", "Account", new { provider = @Model.ToList()[0].AuthenticationClient.ProviderName, returnUrl = ViewBag.ReturnUrl })"
            name="provider" value="@Model.ToList()[0].AuthenticationClient.ProviderName" class="btn btn-info btn-block" type="submit">
            @Model.ToList()[0].DisplayName
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button href="@Url.Action("ExternalLogin", "Account", new { provider = @Model.ToList()[1].AuthenticationClient.ProviderName, returnUrl = ViewBag.ReturnUrl })" class="btn btn-primary btn-block" 
            name="provider" value="@Model.ToList()[1].AuthenticationClient.ProviderName" type="submit">
            @Model.ToList()[1].DisplayName
        </button>
    </div>
</div>

  

@*@Html.AntiForgeryToken()*@