@model CustomerTracker.Web.Models.ViewModels.LoginModel

@{
    ViewBag.Title = "Log in";
  
}
<br />
<br />
<br />
<br />
<div class="well span5 offset2">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "signin" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="row">
                <div class="span4 section-signin">
                    <div class="control-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label txt-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "span4 input-big", size = "30" })
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label txt-label" })
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password, new { @class = "span4 input-big", type = "password", size = "30" })
                            <p class="help-block"></p>
                        </div>
                        <input name="user[remember_me]" type="hidden" value="0" />
                        <input class="save" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" class="checkbox" />
                        <label for="user_remember_me" style="display: inline-block">Beni Hatırla</label>
                        <input class="span4 btn btn-large" name="commit" type="submit" value="Giriş" />
                        <a href="#">Şifremi Unuttum</a>
                    </div>
                </div>

            </div>

        </fieldset>
    }
    <hr/>
    <div class="span7 section-signup">

        <section class="social" id="socialLoginForm">
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

        </section>
    </div>
</div>



@*@section CustomScripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
